extends layout.pug 

block content
  .container 
    h1.create-page Application Form 
      h3 Please fill in your details below!

      if error 
        p.error You did some error. TRY AGAIN!

      if success 
        p.success Successfully Saved!
      
      if deleted 
        p.success Successfully Deleted!
        
    form.form(action.="/create" method='POST')
      label Full Name 
      input.input(type="text" name="title")

      label [E-mail]
      input.input(type="mail" name="Email")

      label Position for Applying
      textarea.input(type="text" name="description")

      button.btn Add Applicantion