extends layout.pug 

block content 
  .container 
    h1.intro-msg  IT job requirements include strong knowledge of computers and how they operate, which includes having a broad understanding of hardware and software, operating systems, and basic computer programming. Familiarity with electronic equipment, Internet applications, and security may also be required. If you got these and want to APPLY for a job please PRESS the BUTTON 
  a.featured(href='/create') Apply Now