doctype html
html(lang="en")
    head
        title Human Resource Application
        link(rel="stylesheet", href="/static/style.css")
        link(rel="icon", type="image/png" href="/static/images/HR-Consulting-Melbourne.png")
   
    body 
      header.navbar 
        h1 
          a(href='/') Welcome to Human Resource Department

        nav.nav 
          a(href='/applications') All Applications 
          a(href='/archive') Archives 
      
      
      block content 

