doctype html
html(lang="en")
    head
        title Human Resource Application
        link(rel="stylesheet", href="/static/main.css")
   
    body 
      header.navbar 
        h1 
          a(href='/') Welcome to Human Resource

        nav.nav 
          a(href='/applicantions') All Applications 
          a(href='/archive') Archives 
      
      
      block content 

